@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
   font-weight: 500 , 700;
font-family: 'Montserrat', sans-serif; */
/* font-weight :700; */

* {
    /* ## Colors */

    /* ### Primary */

    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* ### Neutral */

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Cream);
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55rem;
    margin: 5% auto;
    background-color: var(--White);
    border-radius: 15px;
    overflow: hidden;
}

.bg-image {
    width: 50%;
    height: 40rem;
}

.bg-image img {
    width: 100%;
    height: 100%;
}

.content {
    width: 400px;
    margin: 0 auto;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 3.5rem;
    font-style: normal;
    line-height: 50px;
    color: var(--Very-dark-blue);
    margin-bottom: 25px;
}

#title {
    margin: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
    letter-spacing: 6px;
    color: var(--Dark-grayish-blue);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 2px;
    margin: 20px 0;
    color: var(--Dark-grayish-blue);
}

.big-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 40pt;
    color: var(--Dark-cyan);
    margin: 20px 0;
}

.big-price del {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    font-style: normal;
    color: var(--Dark-grayish-blue);
    margin-right: 80px;
}

.cta {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    background: var(--Dark-cyan);
    color: var(--White);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

svg {
    margin: 0 10px;
}

.cta a {
    text-decoration: none;
    color: var(--White);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



/* screen 768px */

@media screen and (max-width:768px) {

    .card {
        display: flex;
        flex-direction: column;
        width: 27rem;
        background-color: var(--White);
        border-radius: 15px;
        overflow: hidden;
    }

    .bg-image {
        height: 40rem;
        width: 100%;
        padding-bottom: 300px;
    }

    .bg-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .content {
        width: 85%;
        margin: 0 auto;
    }

    .price {
        font-family: "Fraunces", serif;
        font-weight: 700;
        font-size: 30pt;
        color: var(--Dark-cyan);
        margin: 30px 0;
    }


    .big-price del {
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        font-weight: 500;
        font-style: normal;
        color: var(--Dark-grayish-blue);
        display: block;
        margin-right: 100px;
    }

    #title {
        font-family: 'Montserrat', sans-serif;
        font-size: 14pt;
        font-weight: 500;
        letter-spacing: 6px;
        color: var(--Dark-grayish-blue);
        margin-top: -300px;
    }

    h1 {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 30pt;
        font-style: normal;
        line-height: 40px;
        color: var(--Very-dark-blue);
        margin-bottom: 10px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14pt;
        font-weight: 500;
        font-style: normal;
        line-height: 25px;
        letter-spacing: normal;
        margin: 20px 0;
        color: var(--Dark-grayish-blue);
    }

    .cta {
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        font-weight: 500;
        background: var(--Dark-cyan);
        color: var(--White);
        display: flex;
        justify-content: center;
        padding: 20px 0;
        margin-top: 10px;
        margin-bottom: 30px;
        border-radius: 10px;
        cursor: pointer;
    }
}